@media (hover: hover) {

    .nav__link:hover,
    .header__phone:hover,
    .footer__links-item-link:hover,
    .footer__contacts-item-link:hover,
    .footer__policy-link:hover,
    .breadcrumbs__item a:hover,
    .detail__content a:hover,
    .reviews__item-content-open:hover {
        color: var(--color-accent);
    }

    .top-page__link:hover {
        background-color: var(--color-accent);
        color: #333333;

        svg path {
            fill: #333333;
        }
    }
    .form__description a:hover {
        opacity: 0.7;
    }

    .footer__project-link:hover {
        background: transparent;
        color: var(--color-accent);
    }

    .header__project:hover::before {
        left: 0;
        width: 100%;
    }

    .project__item a:hover {
        .project__item-picture {
            &::before {
                opacity: 1;
            }
            img {
                transform: scale(1.04);
            }
        }
    }

    .btn:hover {
        background: var(--color-accent);
        color: #222;
        border: 1px solid var(--color-accent);

        svg path {
            fill: #222;
        }
    }

    .btn_animate:hover {
        background: #222;
        color: #fff;
        border: 1px solid #222;

        svg path {
            fill: #fff;
        }
        .btn_animate-box{
            span {
                transform: translateY(calc((var(--s-18) * -1) - (var(--s-18) / 3)));
            }
        }
        .btn_animate-box-icon{
            .btn_icon{
                transform: translateX(0);
            }
        }
        
    }

    .advanteges__slide:hover {
        background-color: #333333;

        .advanteges__slide-title {
            color: var(--color-gray-1);

            sup {
                color: var(--color-accent);
            }
        }

        .advanteges__slide-text,
        .advanteges__slide-price {
            color: var(--color-gray-1);
        }

        .advanteges__slide-icon {
            background: var(--color-accent);

            svg path {
                fill: #333;
            }
        }
        .advanteges__slide-content-text{
            transform: translateY(0px);
        }
        .advanteges__slide-text:not(:first-child){
            opacity: 0.8;
        }
        &-bottom {
            background: #333333;
        }
    }

    .articles__item a:hover {
        .articles__item-icon {
            svg path {
                fill: var(--color-accent);
            }
        }

        .articles__item-picture {
            &::before {
                backdrop-filter: blur(2px);
                background: rgb(34, 34, 34, 0.4);
            }

            &::after {
                opacity: 1;
            }
        }
    }

    .filter__item-btn:hover {
        background: #333333;
        color: #FFFFFF;
    }


    .marquee:hover {
        background: var(--color-accent);

        .marquee__item {
            color: var(--bg-color);
        }
    }
    // .advanteges__btn:hover svg path {
    //     stroke: var(--color-accent);
    // }
}

// @media (hover: none) {
//     .nav__link:active,
//     .header__phone:active,
//     .footer__links-item-link:active,
//     .footer__contacts-item-link:active,
//     .footer__policy-link:active  {
//         color: var(--color-accent);
//     }

//     .footer__project-link:active {
//         background: transparent;
//         color:  var(--color-accent);
//     }
//     .reviews__item-content a:active{
//         color: var(--color-accent);
//     }
//     .advanteges__slide:active{
//         background-color: #333333;

//         .advanteges__slide-title{
//             color: var(--color-gray-1);
//             sup{
//                 color: var(--color-accent);
//             }
//         }
//         .advanteges__slide-text,
//         .advanteges__slide-price{
//             color: var(--color-gray-1);
//         }
//         .advanteges__slide-icon{
//             background: var(--color-accent);

//             svg path{
//                 fill: #333;
//             }
//         }
//     }
//     .articles__item a:active{
//         .articles__item-icon{
//             svg path{
//                 fill: var(--color-accent);
//             }
//         }
//         .articles__item-picture{
//             &::before{
//                 backdrop-filter: blur(2px);
//                 background: rgb(34, 34, 34, 0.4);
//             }
//             &::after{
//                 opacity: 1;
//             }
//         }
//     }
// }