:root{
    --ff: 'Inter 18pt';
    --ff-decor: 'TT Firs Neue';

    --container-size: 95.05vw;
    --container-padding: 0.78vw;


    --bg-color: #303030;
    --border-color: #505050;
    --color-accent: #deff00;
    --color-gray-1: #f7f7f7;

    --s-60: 3.13vw;
    --s-44: 2.29vw;
    --s-40: 2.08vw;
    --s-30: 1.56vw;
    --s-24: 1.25vw;
    --s-18: 0.94vw;
    --s-16: 0.83vw;
    --s-14: 0.73vw;
    --s-8: 0.42vw;
    --t: 400ms linear;
}