@media (max-width: 1280px) {
    .price-slider::after {
        width: calc(var(--width) + 1vw);
    }
}

@media (max-width: 992px) {
    :root {
        --s-16: 1.2vw;
    }

    .service__names-col,
    .service__item-price {
        font-size: var(--s-16);
    }

    .btn {

        &_icon {
            svg {
                width: var(--s-16);
                height: var(--s-16);
            }

            height: var(--s-16);
        }
    }

    .reviews__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews__item-name {
        font-size: 2vw;
    }

    .reviews__item-place {
        font-size: 1.5vw;
    }

    .animate__delay-1s,
    .animate__delay-05s {
        --animate-delay: 0s;
    }

    .filter__item-btn {
        padding: 1vw 1.67vw;
    }

    .top-page__link {
        max-width: 20vw;
    }

    .price-slider .noUi-tooltip {
        bottom: -2.5vw !important;
    }

    .configurator__step-item,
    .configurator__result-text,
    .configurator__description {
        font-size: var(--s-16);
    }

    .configurator__step-title,
    .configurator__result-price {
        font-size: 2vw;
    }

    .price-slider__parent {
        max-width: calc(100% - 50px);
    }

    .form__description {
        font-size: var(--s-16);
    }
    .form__description-decor{
        width: 1.1vw;
        height: 1.1vw;
    }
}

@media (max-width: 768px) {
    :root {
        --s-16: 1.5vw;
        --s-14: 1.2vw;
        --s-18: 1.7vw;
    }

    .header__logo svg {
        width: 20vw;
    }

    .footer__project-link {
        font-size: 1.1vw;
    }

    .about__employees-item-text {
        font-size: 1.3vw;
    }

    .complecs__inner {
        grid-template-columns: 40.08vw 1fr;
    }

    .breadcrumbs__item {
        font-size: 1.5vw;

        &:not(:last-child)::before {
            width: 0.5vw;
            height: 0.5vw;
            right: 0.4vw;
            top: 0.4vw;
        }
    }

    .nadzor__inner {
        grid-template-columns: 1fr;
    }

    .nadzor__slide-picture,
    .nadzor__slider-parent {
        height: 60vh;
    }

    .container-left,
    .container-right {
        padding: 0;
    }

    .nadzor__content,
    .configurator__content,
    .detail {
        max-width: calc(var(--container-size));
        width: 100%;
        margin: 0 auto;
    }

    .configurator__inner {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .configurator__step .form__btn {
        margin-bottom: 4.80vw;
    }

    .configurator__picture {
        grid-row-start: 2;
    }

    .form-parent {
        grid-template-columns: 1fr;
    }

    .form-parent__picture {
        grid-row-start: 2;
    }

    .new-project__content {
        font-size: 1.5vw;
    }

    .new-project__content-title {
        font-size: 2vw;
    }

    .new-project-gallery__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .comand__slide-job {
        font-size: var(--s-16);
    }

    .modal__inner {
        max-width: 85vw;
    }

    .services__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .advanteges__buttons{
        display: none;
    }
    .modal.modal-os .modal__inner {
        display: block;
        max-width: 85vw;
    }

    .modal-parent.modal-os .form__label-placeholder {
        top: 1.5vw;
    }
}

@media (max-width: 650px) {
    .about__inner {
        grid-template-columns: 1fr;
    }

    .about__description {
        font-size: 2vw;
    }

    .about__employees-item,
    .about__right {
        max-width: 100%;
    }

    .about__employees-item-text {
        font-size: 1.5vw;

        br {
            display: none;
        }
    }

    .about__employees {
        margin-bottom: 4.92vw;
        padding-bottom: 6.15vw;
        border-bottom: 1px solid var(--border-color);
    }
}

@media (max-width: 480px) {
    :root {
        --s-16: 4.27vw;
        --s-18: 4.80vw;
        --s-44: 11.73vw;
        --s-72: 19.20vw;
        --s-24: 6.40vw;
        --s-48: 12.80vw;
        --s-32: 8.53vw;
        --s-20: 5.33vw;
    }

    .header__project {
        display: none;
    }

    .header__inner {
        justify-content: flex-start;
    }

    .header__phone {
        display: block;
        width: 8.53vw;
        height: 8.53vw;
        font-size: 0px;
        background-image: url(../img/phone.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    .header__links {
        margin-left: auto;
        margin-right: 5.33vw;
    }

    .header__btn-burger {
        padding: 0;
        margin: 0;
        border: 0;
        background: none;


        svg {
            width: 6.40vw;
            height: 6.40vw;
        }
    }

    .header__logo svg {
        width: 40.27vw;
    }

    .container {
        max-width: 100%;
        width: 100%;
        padding-inline: 4.27vw;
    }

    .header {
        padding-top: 5.87vw;
    }

    .header__inner {
        padding-bottom: 5.87vw;
    }

    .header__btn-burger {
        display: flex;
    }

    .header-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100vw;
        max-width: 100%;
        width: 100%;
        height: 100svh;
        overflow-y: scroll;
        background-color: var(--bg-color);
        z-index: 20;
        padding: 8.53vw 4.27vw;
        transition: right 150ms ease-in-out;

        &.is-open {
            right: 0vw;
        }
    }

    .header-menu__top {
        max-width: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 5.33vw;
        padding-bottom: 10.67vw;
        border-bottom: 1px solid var(--border-color);
    }

    .header-menu__btn-close {
        width: 10.67vw;
        height: 10.67vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;

        background-color: var(--color-accent);
        border: none;
        outline: none;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav {
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }

    .nav__item {
        max-width: 100%;
        width: 100%;
        font-size: 5.33vw;
        padding-bottom: 5.33vw;
        margin-bottom: 5.33vw;
        color: var(--color-gray-1);
        border-bottom: 1px solid var(--border-color);
    }

    .header-menu__link {
        font-weight: 300;
        font-size: 4.27vw;
        line-height: 140%;
        letter-spacing: 0%;
        color: #F7F7F7 !important;
    }

    .header-menu__bottom,
    .header-menu__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header-menu__links {
        gap: 4.27vw;
    }

    .header-menu__bottom {
        gap: 6.40vw;
    }

    .header-menu__btn-project {
        max-width: 100%;
        width: 100%;
        padding: 3.47vw 8.53vw;

        font-size: var(--s-16);
        text-align: left;
        background-color: var(--color-accent);
        color: #222222;

        outline: none;
        border: none;
        border-radius: 50px;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header-menu__bottom {
        max-width: 100%;
        width: 100%;
        margin-top: auto;
        margin-bottom: 0;
    }

    .footer {
        padding-top: 12.27vw;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.80vw;
        margin-bottom: 12.80vw;
    }

    .footer__contacts {
        order: 0;
        padding-top: 0;
    }

    .footer__links {
        display: none;
    }

    .footer__contacts-item {
        text-align: center;
        align-items: center;
    }

    .footer__project-link {
        margin-inline: auto;
    }

    .footer__contacts-item {
        font-size: 4.27vw;
    }

    .footer__contacts-item {
        gap: 2.13vw;

        &:not(:last-child) {
            margin-bottom: 6.40vw;
        }
    }

    .footer__project-link {
        --size: 53.33vw;
        font-size: 4.27vw;
    }

    .footer__policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__policy-item {
        align-items: center;
        justify-content: center;
        gap: 2.13vw;
    }

    .footer__policy-item_smal-text {
        font-size: var(--s-16);
        text-align: center;
    }

    .footer__policy {
        gap: 6.40vw;
    }

    .footer__text {
        font-size: 17.60vw;
        color: var(--color-accent);
    }

    .footer__text {
        letter-spacing: -0.15em;
    }

    .footer__text strong {
        letter-spacing: -0.1em;
    }

    .footer__policy {
        margin-bottom: 12.80vw;
    }

    .top__decor {
        display: none;
    }

    .top__text {
        font-size: 3.73vw;
    }

    .top__title {
        font-size: 17.60vw;
        letter-spacing: -0.16em;
        margin-bottom: 6.40vw;
    }

    .top__title strong {
        letter-spacing: -0.1em;
    }

    .top {
        padding-top: 19.20vw;
    }

    .top__row {
        margin-bottom: var(--s-16);
    }

    .full-image {
        height: 62.67vw;
    }

    .about {
        padding-top: 12.80vw;
        padding-bottom: 12.80vw;
    }

    .title-section {
        font-size: 5.33vw;
        padding-left: 3.20vw;

        &::before {
            width: 1.07vw;
            height: 1.07vw;
        }
    }

    .about__inner {
        grid-gap: 6.40vw;
    }

    .about__title {
        font-size: 6.40vw;
        padding-bottom: 6.40vw;
        margin-bottom: 6.40vw;
    }

    .about__description {
        font-size: var(--s-16);
        margin-bottom: 6.40vw;

        br {
            display: none;

            &.br-mob {
                display: block;
            }
        }
    }

    .about__employees-item-text {
        display: none;
    }

    .about__employees-item {
        display: flex;
        flex-direction: column;
        gap: 3.20vw;

        &:not(:last-child) {
            margin-bottom: 0;
            padding: 0;
            border: none;
        }
    }

    .about__employees {
        display: flex;
        flex-direction: row;
    }

    .about__employees-picture {
        max-width: 44vw;
        height: 44vw;
    }

    .about__employees-item-name {
        font-size: 4.80vw;
        margin-bottom: 2.13vw;
    }

    .about__employees-item-job {
        font-size: 3.20vw;
    }

    .about__progress-number {
        font-size: 12.80vw;
        margin-bottom: 3.20vw;
    }

    .about__progress-item:not(:last-child) {
        margin-bottom: 8.53vw;
    }

    .project__title {
        display: none;
    }

    .project_p-block {
        padding-top: 12.80vw;
        padding-bottom: 10.13vw;
    }

    .project__list {
        grid-template-columns: 1fr;
        grid-gap: 6.40vw;
    }

    .project__item-name {
        font-size: var(--s-18);
        margin-bottom: 2.13vw;
    }

    .project__item-size {
        font-size: 3.73vw;
    }

    .project__item-description {
        font-size: 3.73vw;
    }

    .project__item.project__item_size-big .project__item-picture,
    .project__item.project__item_size-middle .project__item-picture,
    .project__item-picture {
        height: 91.47vw;
    }

    .project__list {
        margin-bottom: 8.53vw;
    }

    .btn {
        max-width: 100%;
        width: 100%;
        padding: 3.47vw 8.53vw;
        font-size: var(--s-16);
    }

    .service__title {
        display: none;
    }

    .service_p-block {
        padding-top: 12.80vw;
        padding-bottom: 12.80vw;
    }

    .service__names {
        display: none;
    }

    .service__item {
        grid-template-columns: 1fr;

        &:not(:last-child) {
            padding-bottom: 8.53vw;
            margin-bottom: 8.53vw;
        }
    }

    .service__item-title {
        font-size: 8.53vw;
        margin-bottom: 3.20vw;
    }

    .service__item {
        gap: 0;
    }

    .service__item-title sup {
        top: -0.6em;
        font-size: 60%;
        margin-right: 0;
    }

    .service__item-content {
        font-size: var(--s-16);
        margin-bottom: 6.40vw;

        br {
            display: none;
        }
    }

    .service__top {
        max-width: 100%;
        width: 100%;
        padding-bottom: 6.40vw;
        margin-bottom: 8.53vw;
        border-bottom: 1px solid var(--border-color);
    }

    .service__item-price {
        text-align: left;
        padding: 0;
        font-size: 5.33vw;
        margin-bottom: 6.40vw;
        font-weight: 300;
    }

    .service__btn {
        background-color: var(--color-accent);
        border: none;
        color: #222222;

        .btn_icon {
            display: none;
        }
    }

    .service_mb {
        margin-bottom: 13.87vw;
    }

    .advanteges__inner.container {
        padding-right: 0;
    }

    .advanteges__slide a {
        padding: 6.40vw;
        min-height: 88.27vw;
    }

    .advanteges__slide-title {
        sup {
            display: none;
        }

        br {
            display: none;
        }

        font-size: 5.33vw;
        padding-bottom: 24px;
    }

    .advanteges__slide-text {
        font-size: 3.73vw;
        margin-bottom: 6.40vw;
    }

    .advanteges__slide-price {
        font-size: 5.33vw;
        font-weight: 300;
    }

    .advanteges__slide-icon {
        width: 8.53vw;
        height: 8.53vw;
        background-color: var(--color-accent);
        flex-shrink: 0;

        svg {
            display: none;
        }
    }

    .advanteges__slider .swiper-wrapper {
        margin-bottom: 8vw;
    }

    .advanteges_pb {
        padding-bottom: 13.87vw;
    }

    .advanteges-scrollbar {
        max-width: calc(100vw - (4.27vw * 2));
        width: 100%;
    }

    .complecs__inner {
        grid-template-columns: 1fr;
    }

    .complecs__picture {
        grid-row-start: 1;
        height: 89.87vw;
    }

    .complecs__inner {
        padding: 0;
    }

    .complecs__box {
        padding: 12.80vw 4.27vw;
    }

    .complecs__title {
        font-size: 6.40vw;
        margin-bottom: 6.40vw;
    }

    .complecs__step-title {
        font-size: 5.33vw;
        margin-bottom: var(--s-16);
    }

    .complecs__step-list {
        margin-left: 5.99vw;
    }

    .complecs__step-item {
        font-size: var(--s-16);
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: var(--s-16);
        }
    }

    .complecs__step {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 8.53vw;
        margin-bottom: 6.40vw;
    }

    .complecs__clients-title {
        font-size: 5.33vw;
        margin-bottom: 6.40vw;
    }

    .complecs__clients-item {
        font-size: var(--s-16);
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 3.20vw;
        }
    }

    .complecs__clients-box {
        gap: 3.20vw;
    }

    .marquee {
        --marquee-gap: 6.40vw;
        padding-block: var(--s-16);
    }

    .marquee__item {
        margin-right: 6.40vw;
        font-size: 5.33vw;
    }

    .marquee__item img {
        width: 10.67vw;
        height: 10.67vw;
    }

    .marquee_mb {
        margin-bottom: 12.80vw;
    }

    .articles__top {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 6.40vw;
    }

    .articles__item a {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .articles__item-picture {
        max-width: 100%;
        width: 100%;
        height: 47.47vw;
        margin-bottom: 4.27vw;
    }

    .articles__item-icon {
        display: none;
    }

    .articles__item-title {
        font-size: var(--s-18);
        margin-bottom: var(--s-16);
    }

    .articles__item-description {
        font-size: 3.73vw;
    }

    .articles__item {
        padding-bottom: 8.53vw;

        &:not(:last-child) {
            margin-bottom: 8.53vw;
        }
    }

    .articles__btn {
        display: none;
    }

    .articles_mb {
        margin-bottom: 12.80vw;
    }

    .reviews__list {
        grid-template-columns: 1fr;
        gap: 5.33vw;
    }

    .reviews__top {
        margin-bottom: 6.40vw;
    }

    .reviews__item {
        padding: 6.40vw;
    }

    .reviews__item-avatar {
        width: 12.80vw;
        height: 12.80vw;
        font-size: var(--s-16);
        font-weight: 300;
    }

    .reviews__item-name {
        font-size: 4.80vw;
        margin-bottom: 2.13vw;
    }

    .reviews__item-place {
        font-size: 3.20vw;
    }

    .reviews__item-top {
        align-items: center;
        margin-bottom: var(--s-16);
    }

    .stars-item__rating svg {
        width: var(--s-16);
    }

    .reviews__item-time {
        font-size: 3.20vw;
    }

    .reviews__item-row {
        margin-bottom: 6.40vw;
    }

    .reviews__item-content {
        font-size: 3.73vw;
        font-weight: 300;
    }

    .reviews_mb {
        margin-bottom: 12.80vw;
    }

    .reviews__list_mb {
        margin-bottom: 8.53vw;
    }

    .breadcrumbs__item {
        font-size: var(--s-16);

        &:not(:last-child)::before {
            width: 1.07vw;
            height: 1.07vw;
            right: 3.20vw;
            top: 1.6vw;
        }

        &:not(:last-child) {
            padding-right: 7.47vw;
        }
    }

    .breadcrumbs {
        padding-top: 2vw;
        padding-left: 4.27vw;
        padding-top: 6.40vw;
        padding-bottom: 6.40vw;
    }

    .breadcrumbs_mb {
        margin-bottom: 6.4vw;
    }

    .title-page {
        font-size: 7vw;

        &_mb {
            margin-bottom: 6.40vw;
        }
    }

    .project_mb {
        margin-bottom: 19.20vw;
    }

    .filter {
        padding-bottom: 6.4vw;
        margin-bottom: 12.80vw;
    }

    .filter__list {
        gap: 3.20vw;

        &.container {
            padding-inline: 4.27vw;
        }
    }

    .filter__item-btn {
        padding: 3vw 6vw;
    }

    .articles__list {
        &.container {
            padding-inline: 4.27vw;
        }
    }

    .articles__list_mb-72 {
        margin-bottom: var(--s-72);
    }

    .top-page {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.67vw;
    }

    .top-page__link {
        max-width: 100%;
    }

    .top-page {
        margin-bottom: var(--s-48);
    }

    .reviews__list_mb-72 {
        margin-bottom: var(--s-72);
    }

    .nadzor__content {
        padding-block: var(--s-48);
    }

    .detail__content li {
        padding-left: 5vw;
    }

    .nadzor__price {
        font-size: var(--s-16);
    }

    .nadzor__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .detail__content p,
    .detail__content h2,
    .detail__content h3,
    .detail__content h4 {
        margin-bottom: var(--s-16);
    }

    .detail__content ul:not(:last-child),
    .detail__content li:not(:last-child) {
        margin-bottom: var(--s-24);
    }

    .nadzor__slider-pagination {
        padding: 3.20vw 6.40vw;
        gap: 1.6vw;
        border-radius: 50px;
    }

    .swiper-pagination-bullet {}

    .nadzor__slider-pagination .swiper-pagination-bullet {
        width: 2.13vw;
        height: 2.13vw;
    }

    .top-page:has(.title-page~.filter__list) .title-page {
        margin-bottom: var(--s-24);
    }

    .top-page:has(.top-page__box) {
        gap: var(--s-32);
    }

    .project-detail__list {
        grid-template-columns: 1fr;
    }

    .project-detail__item_big {
        grid-column: unset;
    }

    .project-detail {
        margin-bottom: var(--s-72);
    }

    .configurator__title {
        font-size: var(--s-20);

        br {
            display: none;
        }

        margin-bottom: var(--s-24);
    }

    .configurator__content {
        padding-block: var(--s-48);
    }

    .configurator__description {
        margin-bottom: var(--s-24);
    }

    .price-slider .noUi-tooltip {
        font-size: 3vw;
        padding: 1vw 2.5vw;
        bottom: -6vw !important;
    }

    .price-slider .noUi-handle {
        width: 2.13vw;
        height: 2.13vw;
    }

    .noUi-horizontal .noUi-handle {
        top: -0.55vw;
    }

    .configurator__step-title,
    .configurator__result-price {
        font-size: var(--s-20);
    }

    .price-slider__row {
        margin-bottom: var(--s-24);
    }

    .price-slider::after {
        width: calc(var(--width) + 1.3vw);
    }

    .configurator__step-title {
        margin-bottom: var(--s-16);
    }

    .price-slider__value {
        padding-top: 2.5vw;
    }

    .configurator__step-item::before {
        width: 1.07vw;
        height: 1.07vw;
    }

    .configurator__step-item {
        padding-left: 2vw;
        font-size: 3.73vw;
    }

    .configurator__step-item:not(:last-child) {
        margin-bottom: 2.13vw;
    }

    .configurator__step-list {
        margin-bottom: var(--s-24);
    }

    .configurator__result-text {
        font-size: 3.73vw;
        margin-bottom: var(--s-24);
    }

    .configurator__result-price {
        margin-bottom: 2.13vw;
    }

    .form__col_3 {
        grid-template-columns: 1fr;
    }

    .form__label input,
    .form__textarea {
        font-size: 3.73vw;
        padding: 3.73vw 6.40vw;
    }

    .form__label-placeholder {
        font-size: 3.73vw;
        top: 3.73vw;
        left: 6.40vw;
    }

    .form__label.is-focus .form__label-placeholder {
        font-size: 2vw;
        top: 1.3vw;
    }

    .form__textarea {
        min-height: 32vw;
    }

    .form__col {
        gap: 5.33vw;
        margin-bottom: var(--s-16);
    }

    .form__description {
        br {
            display: none;
        }

        font-size: 3.73vw;
    }

    .header__logo {
        width: 40vw;

        svg {
            width: auto;
        }
    }

    .detail__picture {
        margin-bottom: var(--s-32);
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .detail .title-page {
        margin-bottom: var(--s-32);
    }

    .detail__top {
        justify-content: flex-start;
        gap: 5.33vw;
        margin-bottom: var(--s-24);
    }

    .detail__time::before {
        width: 1.07vw;
        height: 1.07vw;
        right: -3vw;
    }

    .form {
        padding: var(--s-24);
    }

    .form__title {
        font-size: var(--s-18);
        margin-bottom: 2.13vw;
    }

    .form__col {
        grid-template-columns: 1fr;
    }

    .new-project__content {
        grid-template-columns: 1fr;
        gap: var(--s-32);
    }

    .new-project__content-title {
        font-size: var(--s-32);
    }

    .new-project__content {
        font-size: var(--s-16);
    }

    .new-project__content:not(:last-child) {
        margin-bottom: var(--s-48);
    }

    .new-project__content-picture {
        aspect-ratio: 1 / 1;
        max-height: unset;
    }

    .new-project__content-info {
        gap: var(--s-32);
    }

    .new-project__content-list {
        gap: var(--s-18);
    }

    .new-project-gallery__inner {
        grid-template-columns: 1fr;
        gap: var(--s-18);
    }

    .comand__slide-picture {
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .comand__slider .swiper-wrapper {
        margin-bottom: var(--s-32);
    }

    .comand {
        padding-block: var(--s-72);
    }

    .new-project-gallery {
        padding-top: var(--s-72);
        margin-bottom: var(--s-72);
    }

    .new-project {
        margin-bottom: var(--s-72);
    }

    .modal__inner {
        grid-template-columns: 1fr;
        max-width: 100%;
        width: 100%;
    }

    .modal-box {
        border-radius: 0px;
    }

    .modal__picture img {
        border-radius: 0px;
    }

    .modal {
        padding: 4.27vw;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .error-page__title {
        font-size: 30vw;
        margin-bottom: var(--s-16);
    }

    .error-page__sub-title {
        font-size: var(--s-24);
        margin-bottom: var(--s-16);
    }

    .error-page__text {
        font-size: var(--s-16);
        margin-bottom: var(--s-24);
    }

    .error-page {
        padding-block: var(--s-48);
    }

    .services {
        &__list {
            grid-template-columns: 1fr;
            gap: 4.80vw;

            &.container {
                padding-inline: 4.27vw;
            }
        }
    }

    .nav{
        display: none;

        &._dynamic_adapt_{
            display: block;
        }
    }
    .main{
        --hei: 20.42vw !important;
    }
    .form__description-decor{
        width: 5.33vw;
        height: 5.33vw;
    }
    .form__description-decor::before{
        width: 3.20vw;
        height: 3.20vw;
    }
    .modal-parent.modal-os .form__label-placeholder{
        top: 3.73vw;
    }
    .modal.modal-os .modal__inner{
        max-width: calc(100vw - 4.27vw);
    }
    .modal.modal-os .form{
        padding: var(--s-32) var(--s-16);
    }
    .modal.modal-os .form__title{
        font-size: var(--s-24);
    }
    .modal.modal-os .form__col {
        margin-bottom: var(--s-16);
    }
}