<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__content">
            <ul class="footer__links">
                <li class="footer__links-item">
                    <a class="footer__links-item-link" href="#!">Студия</a>
                </li>
                <li class="footer__links-item">
                    <a class="footer__links-item-link" href="#!">Проекты</a>
                </li>
                <li class="footer__links-item">
                    <a class="footer__links-item-link" href="#!">Услуги</a>
                </li>
                <li class="footer__links-item">
                    <a class="footer__links-item-link" href="#!">Материалы</a>
                </li>
                <li class="footer__links-item">
                    <a class="footer__links-item-link" href="#!">Контакты</a>
                </li>
            </ul>
            <ul class="footer__contacts">
                <li class="footer__contacts-item">
                    <a class="footer__contacts-item-link" href="tel:+79951337775">+7 995 133 777 5</a>
                    <a class="footer__contacts-item-link"
                        href="mailto:rbrickstudio@gmail.com">rbrickstudio@gmail.com</a>
                </li>
                <li class="footer__contacts-item">
                    <a class="footer__contacts-item-link" href="#!">Telegram</a>
                    <a class="footer__contacts-item-link" href="#!">WhatsApp</a>
                    <a class="footer__contacts-item-link" href="#!">MAX</a>
                </li>
                <li class="footer__contacts-item">
                    <address class="footer__contacts-item-address">
                        г. Москва, ул. Максима Горького 69
                    </address>
                    <time datetime="">с 10:00 - 19:00</time>
                </li>
                <li class="footer__contacts-item">
                    <a class="footer__contacts-item-link" href="#!">Instagram</a>
                    <a class="footer__contacts-item-link" href="#!">Vkontakte</a>
                </li>
            </ul>
            <a class="footer__project-link" href="#!">
                Заказать проект
            </a>
        </div>
        <ul class="footer__policy">
            <li class="footer__policy-item footer__policy-item_smal-text">
                <a class="footer__policy-link" href="#!">Политика конфиденциальности и обработки данных</a>
                <a class="footer__policy-link" href="#!">Все права защищены © Red Brick</a>
            </li>
            <li class="footer__policy-item">
                <a class="footer__policy-link link-scroll-top" href="#header">Вернутся в начало</a>
            </li>
            <li class="footer__policy-item">
                <a class="footer__policy-link" href="#!">Разработано в OXBOX</a>
            </li>
        </ul>
        <p class="footer__text">
            <strong>
                <span style="--del: 0.1s">R</span>
                <span style="--del: 0.2s">e</span>
                <span style="--del: 0.3s">d</span>
            </strong>
            <span style="--del: 0.4s">B</span>
            <span style="--del: 0.5s">r</span>
            <span style="--del: 0.6s">i</span>
            <span style="--del: 0.7s">c</span>
            <span style="--del: 0.8s">k</span>
        </p>
    </div>
</footer>